@model QuitoText_1._0.Datos.COMPRACARRITO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COMPRACARRITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO.PRO_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO.PRO_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOS.Nombre_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOS.Nombre_state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Compra_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
