@model QuitoText_1._0.Datos.PRODUCTO

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    .dl-horizontal {
        font-size: 20px;
    }
</style>

<div>
    <h2>Detalles del producto</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA.CATE_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA.CATE_NOMBRE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PRO_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRO_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRO_DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRO_DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRO_PRECIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRO_PRECIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRO_IMAGEN)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PRO_IMAGEN)*@
            <img width="350" src="@Url.Action("getImage","PRODUCTOes", new { id=Model.PRO_ID})" />

        </dd>

    </dl>
</div>