@using QuitoText_1._0.Datos
@{
    ViewBag.Title = "ListaProductos";
}

<style type="text/css">
    #container {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        height: 208px;
        float:left;
        
    }
    #Producto {
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 150px;
        padding-bottom: 100px;
        padding-left: 100px;
        float: left;
        align-items: center;
        text-align: center;
    }
   


</style>
<h2>Productos de la tienda</h2>

@Html.ActionLink("Ver carrito de la compra", "ProductosCarrito", "PRODUCTOes")
<br />

    @foreach (PRODUCTO prod in Model)
    {
           
<div id="Producto">
	@{
		var base64 = Convert.ToBase64String(prod.PRO_IMAGEN);
		var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
	}
	<img style="width:250px;height:250px" src="@imgSrc" />
	<div id="nombre">@prod.PRO_NOMBRE</div>
	<div id="precio">$ @prod.PRO_PRECIO </div>
	@if (ViewBag.Carrito != null && ViewBag.Carrito.Contains(prod.PRO_ID))
	{
		<div><img style="width:20px;height:20px" src="https://image.flaticon.com/icons/png/512/107/107831.png" /><span> Añadido al carrito</span></div> }
	else
	{
		<div>@Html.ActionLink("Añadir al carrito", "ListaProductos", "PRODUCTOes", new { id = prod.PRO_ID }, new { @class = "btn btn-primary" })</div><br />
		<div>@Html.ActionLink("Ver Detalles", "Details", "PRODUCTOes", new { id = prod.PRO_ID }, new { @class = "btn btn-primary" })</div>
	}

</div>
        
    }
<br />

