@using QuitoText_1._0.Datos

@{
    ViewBag.Title = "ProductosCarrito";
}

<h2>Carrito de la compra</h2>

@if (Session["PRODUCTOes"] == null)
{
    <h2 style="color:red">
        No hay ningun producto en el carrito
    </h2>
}
else
{
<table class="table">
    <tr>
        <th>
            Imagen

        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Precio
        </th>
        <th>
            Cantidad
        </th>
    </tr>
    @foreach (PRODUCTO prod in Model)
    {
        var base64 = Convert.ToBase64String(prod.PRO_IMAGEN);
        var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
        <tr>            
            <td>
                <img style="width:150px;height:150px" src="@imgSrc" />
            </td>        
            <td>@prod.PRO_NOMBRE</td>
            <td>@prod.PRO_DESCRIPCION</td>
            <td>$ @prod.PRO_PRECIO </td>
            <td><input type="number" min="1" value="1"</td>
            <td></td>
            <td>
                @Html.ActionLink("Eliminar del carrito", "ProductosCarrito", "PRODUCTOes", new { id = prod.PRO_ID }, null)
            </td>
            <br />
        </tr>
    }
</table>
}
@Html.ActionLink("Volver a los productos", "ListaProductos", "PRODUCTOes")
